<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestAppForIOS 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TestAppForIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WDUSBClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9429594D1DB71F4C000A26DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>942959631DB71F4C000A26DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9429599C1DB76260000A26DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>942959B41DB76260000A26DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
